*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pancake div{
    background-color: white;
    border: 2px solid orange;
    width: 300px;
    padding: 5px;
    position: relative;
    top: 250px;
    left: 650px;
}

.pancake{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "h h" "m m" "f f";
    grid-template-rows: 5vh 25vh 5vh;
}

.pan-head{
    grid-area: h;
}

.pan-main{
    grid-area: m;
}

.pan-footer{
    grid-area: f;
}

