.grid-layout div{
    background-color: white;
    border: 2px solid orange;
    display: grid;
    /* width: 250px; */
    /* height: 15vh; */
    padding: 5px;
}

.grid-layout{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "1" "2";
}

.no1{
    grid-area: 1;
    margin-left: 650px;
    width: 150px;
    height: 25vh;
}

.no2{
    width: 250px;
}

