.layout div{
    display: grid;
    background-color: burlywood;
    border: 2px solid;
    justify-content: center;
    align-items: center;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h" "sb1 m sb2" "f f f";
    grid-template-rows: 20vh 80vh 25vh;
}

.head{
    grid-area: h;
}

.side1{
    grid-area: sb1;
}

.Main{
    grid-area: m;
}

.side2{
    grid-area: sb2;
}

.footer{
    grid-area: f;
}