.layout div{
    background-color: antiquewhite;
    border: 1px solid;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: lightseagreen;
}

.layout{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "h h h" "sb1 m sb2" "f f f";
    grid-template-rows: 10vh 80vh 10vh;
}

.header{
    grid-area: h;
}

.sidebar1{
    grid-area: sb1;
}

.Main{
    grid-area: m;
}

.side2{
    grid-area: sb2;
}

.footer{
    grid-area: f;
}